{% extends "base.html" %}

{% block title %}Index{% endblock %}
{% block content %}
<style>
  .content {
    text-align: center;
  }

  .content a {
    font-size: 4rem;
  }

  #title {
    font-size: 8rem;
    font-weight: 100;
  }

</style>

<div class="content">
  <h1 id="title">To-do Application</h1>
  <p>A simple todo web application written using <b>actix-web</b> as the backend
    framework, <b>Svelte</b> as the JavaScript frontend framework, and
    <b>Halfmoon</b> as the CSS frontend framework.
  </p>
  <hr />
  <a href="https://github.com/SL-Lee" title="GitHub" class="text-reset text-decoration-none">
    <i class="fab fa-github"></i>
  </a>
  <a href="https://twitter.com/sl_lee99" title="Twitter" class="text-reset text-decoration-none">
    <i class="fab fa-twitter"></i>
  </a>
</div>
{% endblock%}
